<p-panel header="Lista reżyserów i filmów">
  <div class="container-box" style="width: auto;">
    <p-table [value]="directors" dataKey="name" responsiveLayout="scroll">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 3rem"></th>
          <th pSortableColumn="surname">Nazwisko <p-sortIcon field="surname"></p-sortIcon></th>
          <th pSortableColumn="name">Imię <p-sortIcon field="name"></p-sortIcon></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-director let-expanded="expanded">
        <tr>
          <td>
            <button type="button" pButton pRipple [pRowToggler]="director"
              class="p-button-text p-button-rounded p-button-plain"
              [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
          </td>
          <td>{{director.surname}}</td>
          <td>{{director.name}}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="rowexpansion" let-director>
        <tr>
          <td colspan="7">
            <div class="p-p-3">
              <p-table [value]="director.movies" dataKey="id">
                <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="title">Tytuł <p-sortIcon field="title"></p-sortIcon></th>
          <th pSortableColumn="description">Opis <p-sortIcon field="description"></p-sortIcon></th>
          <th style="width: 4rem"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-movie>
        <tr>
          <td>{{movie.title}}</td>
          <td>{{movie.description}}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="6">Lista jest pusta.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  </td>
  </tr>
  </ng-template>
  </p-table>
  </div>
</p-panel>