<div class="shadowbox-page">
  <div class="p-grid p-flex-column">
    <div class="p-col">
      <div class="box">
        <button pButton pRipple type="button" label="Lista filmów" class="p-button-raised p-button-text"
          (click)="listMovies()"></button>
        <button pButton pRipple type="button" label="Lista reżyserów" class="p-button-raised p-button-text"
          (click)="listDirectors()"></button>
        <button pButton pRipple type="button" label="Dodaj reżysera"
          class="p-button-raised p-button-success p-button-text" (click)="addDirector()"></button>
        <button pButton pRipple type="button" label="Dodaj nowy film"
          class="p-button-raised p-button-success p-button-text" (click)="addMovie()"></button>
      </div>
    </div>
  </div>
  <div class="p-grid p-flex-column">
    <div class="p-col">
      <div class="box">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>

</div>